# Ignorar variáveis de ambiente
.env

# Node modules
node_modules/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify

echo "duckchat-*.json" >> .gitignore

# Firebase Admin Secrets
*.json
